---
version: 2
interactions:
    - id: 0
      request:
        host: api.fireflies.ai
        headers:
            Authorization:
                - "[SCRUBBED]"
            Content-Type:
                - application/json
        body: '{"query":"query Whoami {\n  user {\n    user_id\n    email\n    name\n    is_admin\n    num_transcripts\n    minutes_consumed\n  }\n}","operationName":"Whoami"}'
        url: https://api.fireflies.ai/graphql
        method: POST
      response:
        headers:
            Content-Type:
                - application/json; charset=utf-8
        body: '{"data":{"user":{"user_id":"scrubbed-uid","email":"[scrubbed]","name":"scrubbed","is_admin":true,"num_transcripts":0,"minutes_consumed":0}}}'
        status: 200 OK
        code: 200
